/* .swiper {
    width: 100%;
    height: 270px !important;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    height: 270px;
    line-height: 270px;
    text-align: center;
}

.swiper-button-next {
    margin-right: 150px;
    top: 50%;
}

.swiper-button-prev {
    margin-left: 150px;
    top: 50%;
} */
